@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #334155;
}

@theme default {
  --color-jcl-veryDarkGreen: #010D00;
  --color-jcl-forestGreen: #204017;
  --color-jcl-oliveGreen: #58732F;
  --color-jcl-sageGreen: #9AA63F;
  --color-jcl-limeAccent: #D4D959;

  --color-primary: #64748B;
  --color-secondary: #94A3B8;
  --color-cta: #F97316;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-heading: var(--font-cinzel);
  --font-body: var(--font-josefin-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010D00;
    --foreground: #F8FAFC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
  @apply antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), serif;
}